.WindowChangeTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
  overflow: overlay;
  color: green;
  .tableRow {
    display:flex;
    justify-content: space-between;
    width: 40%;
  }
}

.WindowChangeTableHidden {
  display: none;
}
