.WindowChangeTable {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  background: red;
  margin: 3%;
  overflow: overlay;
  color: green;
  .tableRow {
    display:flex;
    justify-content: space-between;
  }
}

.WindowChangeTableHidden {
  display: none;
}
