.machineRow {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  margin: 2px;
  border: solid black 2px;
  align-items: center;
  justify-content: space-around;
  .select {
    min-width: 100px;
  }
  .textBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: auto;
    border-right: solid black 2px;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 121, 16, 1) 75%,
      rgba(0, 74, 255, 1) 100%
    );
    .text {
      min-width: 20%;
      color: white;
      margin-right: 3px;
    }
  }
}
